.nav {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    color: white;
    font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(./Roboto/Roboto-Bold.ttf);
    fontD-weight: bold;
}

ul {
    display: flex;
    font-family: myFirstFont;
    list-style-type: none;
}

li {
    margin: 10px;
}

.btn{
    background-color: cyan;
}